.gridContainerContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #b3b3b340;
  border: 1px solid #b6b6b698;
  box-shadow: rgba(57, 57, 57, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 900px) {
  .gridContainerContainer {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(5, 100px);
  }
}
