.infoDisplayerContainer {
    color: #ffffff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    list-style-position: inside;
}

.infoDisplayerContainer li {
    margin-right: 6%;
}

