.layoutContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr) 100px;
  grid-template-rows: 200px repeat(5, 1fr) auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #161616;
}

.layoutLeft {
  grid-area: 2 / 1 / 6 / 2;
}
.layoutHeader {
  grid-area: 1 / 1 / 2 / 8;
  z-index: 1500;
}
.layoutMain {
  grid-area: 2 / 2 / auto / 6;
  /* background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px; */
}
.layoutRight {
  grid-area: 2 / 6 / 6 / 7;
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 0;
}

.layoutFooter {
  grid-area: 7 / 4 / 7 / 4;
  display: flex;
  justify-content: center;
}

.layoutInfo {
  grid-area: 4 / 3 / 4 / 6;
}