.layoutContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr) 100px;
  grid-template-rows: 200px repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin-bottom: 20px;
  background-color: #161616;
}

.layoutLeft {
  grid-area: 2 / 1 / 6 / 2;
}
.layoutHeader {
  grid-area: 1 / 1 / 2 / 8;
  z-index: 1500;
  margin-bottom: 50px;
}
.layoutMain {
  grid-area: 2 / 2 / auto / 6;
  margin-bottom: 50px;
}

.layoutRight {
  grid-area: 2 / 6 / 6 / 7;
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 0;
}

.layoutFooter {
  grid-area: 5 / 4 / 6 / 4;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.layoutInfo {
  grid-area: 4 / 3 / 4 / 6;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px){
  .layoutContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    background-color: #161616;
  }

  .layoutMain {
    height: 100%;
    grid-area: 2 / 1 / 2 / 5;
    margin-bottom: 00px;
  }

  .layoutRight {
    height: 100%;
    grid-area: 2 / 5 / 3 / 5;
  }

  .layoutFooter {
    grid-area: 5 / 3 / 6 / 4;
  }
  
  .layoutInfo {
    grid-area: 4 / 2 / 4 / 5;
  }
}

@media screen and (max-width: 900px){
  .layoutContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px repeat(4, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    margin-bottom: 20px;
    background-color: #161616;
  }

  .layoutMain {
    grid-area: 1 / 0 / 3 / 1;
    margin-bottom: 50px;
  }
  
  .layoutRight {
    grid-area: 3 / 1 / 4 / 7;
  }

  .layoutFooter {
    grid-area: 5 / 2 / 6 / 3;
  }
  
  .layoutInfo {
    grid-area: 4 / 2 / 4 / 3;
  }
}