# Test Report

*NOTE: Här har jag sedan tidigare skrivit krav, testspecifikation och testrapporter på engelska och infogar de därför som de är nedan.*

Jag har ställt upp krav, beskrivit i testspecifikationen vilka testfall som testar vilka krav.
Jag har använt automatisk och manuelt testning. Nedan beskrivs krav, testspecifikation och testrapporter

## Manual testning

### Test Suite 1
* Date 12/10 2022
* Version (git commit hash) 

#### Notes

| Test      |  |
| --------- |:----:|
| TC1.1     | OK |
| TC1.2     | OK |
| TC1.3     | OK |
| TC1.4     | OK |
| TC1.5     | OK |
| COVERAGE & SUCCESS   | 5/5 OK 

| Test      |  |
| --------- |:----:|
| TC2.1     | OK |
| TC2.2     | OK |
| COVERAGE & SUCCESS   | 2/2 OK 

| Test      |  |
| --------- |:----:|
| TC3.1     | OK |
| TC3.2     | OK |
| TC3.3     | OK |
| COVERAGE & SUCCESS   | 3/3 OK 