# Test Report

*NOTE: Här har jag sedan tidigare skrivit krav, testspecifikation och testrapporter på engelska och infogar de därför som de är nedan.*

Jag har ställt upp krav, beskrivit i testspecifikationen vilka testfall som testar vilka krav.
Jag har använt automatisk och manuelt testning. Nedan beskrivs krav, testspecifikation och testrapporter

## Manual testning

### Test Suite 1
* Date 12/10 2022
* Version (git commit hash) 99989e6f155845bcdc3134cd7ff46da7432a8217

#### Notes
- TC4.2 Fails. It does not show the correct gap values for the set grid. Furhter investigation to find bug needed.

| Test      |  |
| --------- |:----:|
| TC1.1     | OK |
| TC1.2     | OK |
| COVERAGE & SUCCESS   | 2/2 OK 

| Test      |  |
| --------- |:----:|
| TC2.1     | OK |
| TC2.2     | OK |
| COVERAGE & SUCCESS   | 2/2 OK 

| Test      |  |
| --------- |:----:|
| TC3.1     | OK |
| TC3.2     | OK |
| COVERAGE & SUCCESS   | 2/2 OK 

| Test      |  |
| --------- |:----:|
| TC4.1     | OK |
| TC4.2     | FAIL |
| COVERAGE & SUCCESS   | 1/2 OK 

| Test      |  |
| --------- |:----:|
| TC5.1     | OK |
| TC5.2     | OK |
| COVERAGE & SUCCESS   | 2/2 OK

## Automatic Unit Tests 

### Test suite 2
* Date 12/10 2022
* version (git commit hash) 914719f6298e6dd50e7a67de3198b93f31301958

*Notes:* Added more unit tests. Two test suites fail, need further investigation.

<img src="./img/test-suites/12oct22-2.png" alt="Test suite" width="400px"></img>
<img src="./img/test-suites/12oct22-3.png" alt="Test suite" width="400px"></img>


### Test suite 1
* Date 12/10 2022
* version (git commit hash) 07b1b94e943c3e905cd13fb4c5d29deba91db3b3

*Notes:* - 

<img src="./img/test-suites/12oct22.png" alt="Test suite" width="400px"></img>